.header-div{
  background: #2196f3;
  text-align: center; 
  width: 100%;
}

.login-main-upper-div{
  margin-top: 10vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-main-div{
  width: 80%;
  max-width: 400px;
  background: #007EA7;
  padding: 25px;
  border-radius: 20px;
  border: 3px solid #FFFFFF;
  color: #fff;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
button {
  background-color: #003459;
  color: #ffffff;
  font-weight: bold;
  font-size: 1em;
  width: 100%;
  border: 2px solid #FFFFFF;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 10px;
}

button:hover {
  background-color: #00A8E8;
  color: #fff;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.h1-login{
  text-align:center;
  font-size: 2.5em;
  line-height: 1.2;
  margin-top: -10px;
}